<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Haarlem Festival</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Jazz@Patronaat", "Index", "Jazz")</li>
                    <li>@Html.ActionLink("Dinner in Haarlem", "Index", "Dinner")</li>
                    <li>@Html.ActionLink("Historic Haarlem", "Index", "Historic")</li>
                    <li>@Html.ActionLink("Talking Haarlem", "Index", "Talking")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

					@if (Session["loggedin_account"] != null)
					{
						<li class="dropdown right adminDropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Admin
							<span class="caret"></span>
						</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Overview", "Overview", "Admin", null, new { @id = "adminOverview" })</li>
                                <li>@Html.ActionLink("Manage Event", "ManageEvent", "Admin", null, new { @id = "adminManage" })</li>
                                <li>@Html.ActionLink("Ticket & Sales Information", "TicketSalesInformation", null, "Admin", new { @id = "adminSales" })</li>
                                <li>@Html.ActionLink("Contact Messages", "AnswerContactmessage", "Admin", null, new { @id = "adminContact" })</li>
                                <li>@Html.ActionLink("Log off", "LogOff", "Admin", null, new { @id = "adminLogout" })</li>
                            </ul>
						</li>
				   }
				   else
				   {
				        <li>@Html.ActionLink("Basket", "Basket", "Home")</li>
				   }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="title">Navigation</p>  
                        <p class="links">
                            @Html.ActionLink("- Home", "Index", "Home")<br />
                            @Html.ActionLink("- Jazz@Patronaat", "Index", "Jazz")<br />
                            @Html.ActionLink("- Talking Haarlem", "Index", "Talking")<br />
                            @Html.ActionLink("- Dinner in Haarlem", "Index", "Dinner")<br />
                            @Html.ActionLink("- Historic Haarlem", "Index", "Historic")<br />
                            @Html.ActionLink("- Contact", "Contact", "Home")<br />
                            @if (Session["loggedin_account"] != null)
                            {
                                @Html.ActionLink("- Admin", "Overview", "Admin");
                            }
                            @if (Session["loggedin_account"] == null)
                            {
                                @Html.ActionLink("- Admin", "Login", "Admin");
                            }
                        </p>          
                </div>

                <div class="col-md-3">
                    <p class="title">Contact</p>
                    <p class="content">
                        <i class="glyphicon glyphicon-envelope"></i>  Info@haarlemfestival.nl<br />
                        <i class="glyphicon glyphicon-earphone"></i>  +31 023 - 5241020<br />
                        <br />
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Head Office<br />
                        <i class="fa fa-map-marker white" aria-hidden="true"></i>Zijlweg 7<br />
                        <i class="fa fa-map-marker white" aria-hidden="true"></i>1234 AA Haarlem
                    </p>
                </div>

                <div class="col-md-6">
                    <p class="title">Location</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
