@using HaarlemFestival.Models
@model Dinner

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    @Html.HiddenFor(d => d.ActivityId)

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Restaurant:")
            @Html.DropDownListFor(d => d.RestaurantId, new SelectList((List<Restaurant>)ViewData["Restaurants"], "RestaurantId", "Naam", Model.RestaurantId), new { @name = "RestaurantId" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Day:")
            @Html.DropDownListFor(d => d.Day.DayId, new SelectList((List<DateModel>)ViewData["Dates"], "DayId", "DateDisplay"), new { @name = "Day" })
            @Html.Label("Start:")
            @Html.TextBoxFor(d => d.StartSession, new { @Value = Model.StartSession.ToString("HH:mm"), @name = "startTime" , @type = "time" })
            @Html.Label("End:")
            @Html.TextBoxFor(d => d.EndSession, new { @Value = Model.EndSession.ToString("HH:mm"), @name = "endTime" , @type = "time" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price:")
            @Html.TextBoxFor(d => d.Price, new { @Value = String.Format("{0:0.00}", Model.Price) })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price (12-):")
            @Html.TextBoxFor(d => d.AlternativePrice, new { @Value = String.Format("{0:0.00}", Model.AlternativePrice) })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Seats: ")
            @Html.EditorFor(d => d.TotalTickets)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Phonenumber: ")
            @Html.EditorFor(d => d.Phonenumber)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Address: ")
            @Html.EditorFor(d => d.Address)
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save Dinner" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
