@using HaarlemFestival.Models
@model Dinner

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Restaurant:")
            @Html.DropDownListFor(d => d.RestaurantId, new SelectList((List<Restaurant>)ViewData["Restaurants"], "RestaurantId", "Naam"), new { @name = "RestaurantId" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Start:")
            <input type="date" name="Date" /> @Html.Label("") <input type="time" name="StartSession" /> - <input type="time" name="EndSession" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price:")
            @Html.EditorFor(d => d.Price)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price (12-):")
            @Html.EditorFor(d => d.AlternativePrice)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Seats: ")
            @Html.EditorFor(d => d.TotalTickets)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Phonenumber: ")
            @Html.EditorFor(d => d.Phonenumber)
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            @Html.Label("Address: ")
            @Html.EditorFor(d => d.Address)
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save Dinner" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
