@using HaarlemFestival.Models;
@model Guide

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Name:")
            @Html.TextBoxFor(g => g.GuideName)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Language")
            @Html.TextBoxFor(g => g.LanguageName);
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Language Abbreviation")
            @Html.TextBoxFor(g => g.LanguageAbbr);
        </div>
    </div>

    <input type="submit" value="Add Guide" />
