@using HaarlemFestival.Models
@model Historic

@using (Html.BeginForm("AddHistoric", "Admin", FormMethod.Post))
{
    // DropdownList voor Days Toevoegen

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Date:")
            <input type="date" id="Date" /> @Html.Label("Time:") <input type="time" id="StartSession" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Start Location")
            @Html.TextBoxFor(h => h.Address, new { @Value = "Grote Markt (At the giant \"walking the ages\" flag)" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Language")
            @Html.DropDownListFor(m => m.Language.LanguageId, new SelectList((List<Language>)ViewData["Languages"], "LanguageId", "LanguageName"))
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Guide")
            @Html.DropDownListFor(m => m.Guide.GuideId, new SelectList((List<Guide>)ViewData["Guides"], "GuideId", "GuideName"))
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Total Tickets:")
            @Html.EditorFor(h => h.TotalTickets)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price:")
            @Html.EditorFor(h => h.Price)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Group Ticket Price:")
            @Html.EditorFor(h => h.AlternativePrice)
        </div>
    </div>

    <input type="submit" value="Add Tour" />
}
