@using HaarlemFestival.Models
@model Historic

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Date:")
            <input type="date" name="Date" /> @Html.Label("Time:") <input type="time" name="StartSession" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Start Location")
            @Html.TextBoxFor(h => h.Address, new { @Value = "Grote Markt (At the giant \"walking the ages\" flag)" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Guide")
            @Html.DropDownListFor(m => m.GuideId, new SelectList((List<Guide>)ViewData["Guides"], "GuideId", "GuideName"), new { @name = "GuideId" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Total Tickets:")
            @Html.EditorFor(h => h.TotalTickets)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Price:")
            @Html.EditorFor(h => h.Price)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Group Ticket Price:")
            @Html.EditorFor(h => h.AlternativePrice)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Phonenumber:")
            @Html.TextBoxFor(h => h.Phonenumber, new { @Value = "+31 023 - 5241020" })
        </div>
    </div>

    <input type="submit" value="Add Tour" />