@using HaarlemFestival.Models
@model Jazz

    @Html.HiddenFor(j => j.ActivityId)
    @Html.HiddenFor(h => h.EventType, new { @Value = EventType.JazzPatronaat })

    @if (Model.ArtistId != 0)
    {
        @Html.HiddenFor(j => j.ArtistId, new { @Value = Model.ArtistId });
        @Html.HiddenFor(j => j.artist.ArtistId, new { @Value = Model.artist.ArtistId });
    }

    @try
    {
        @Html.HiddenFor(j => j.artist.ArtistImage, new { @Value = Model.artist.ArtistImage })
    }
    catch (Exception) { }

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.artist.ArtistName)
            @Html.TextBoxFor(j => j.artist.ArtistName, new { @placeholder = "Name" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.artist.ArtistInformation)
            @Html.TextAreaFor(j => j.artist.ArtistInformation, new { @placeholder = "Description" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Day:")
            @Html.DropDownListFor(d => d.Day.DayId, new SelectList((List<DateModel>)ViewData["Dates"], "DayId", "DateDisplay"), new { @name = "Day" })
            @Html.Label("Start:")
            @Html.TextBoxFor(d => d.StartSession, new { @Value = Model.StartSession.ToString("HH:mm"), @name = "startTime", @type = "time" })
            @Html.Label("End:")
            @Html.TextBoxFor(d => d.EndSession, new { @Value = Model.EndSession.ToString("HH:mm"), @name = "endTime", @type = "time" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.TotalTickets)
            @Html.EditorFor(j => j.TotalTickets, new { @placeholder = "Total Tickets" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.Address)
            @Html.TextBoxFor(j => j.Address, new { @placeholder = "Address" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.ConcertLocation)
            @Html.TextBoxFor(j => j.ConcertLocation, new { @placeholder = "Concert Location" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.ConcertHall)
            @Html.TextBoxFor(j => j.ConcertHall, new { @placeholder = "Concert Hall" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.Price)
            @Html.TextBoxFor(j => j.Price, new { @placeholder = "0.00", @Value = String.Format("{0:0.00}", Model.Price) })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.AlternativePrice)
            @Html.TextBoxFor(j => j.AlternativePrice, new { @placeholder = "0.00", @Value = String.Format("{0:0.00}", Model.AlternativePrice) })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.Phonenumber)
            @Html.TextBoxFor(j => j.Phonenumber, new { @Value = "+31 023 - 5175850" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.LabelFor(j => j.artist.ArtistImage)
            <input type="file" name="ArtistImage" />
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save Jazz" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>