@using HaarlemFestival.Models
@model Restaurant

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Name: ")
            @Html.TextBoxFor(r => r.Naam)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Description: ")
            @Html.TextBoxFor(r => r.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Rating: ")
            @Html.TextBoxFor(r => r.Rating, new { @min = 0, @max = 5, @type = "number" }) / 5
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Cuisines:") <br />
            @Html.DropDownList("Cuisine1", new SelectList((List<Cuisine>)ViewData["Cuisines"], "CuisineId", "Naam"), new { @name = "Cuisine1" }) <br />
            @Html.DropDownList("Cuisine2", new SelectList((List<Cuisine>)ViewData["Cuisines"], "CuisineId", "Naam"), new { @name = "Cuisine2" }) <br />
            @Html.DropDownList("Cuisine3", new SelectList((List<Cuisine>)ViewData["Cuisines"], "CuisineId", "Naam"), new { @name = "Cuisine3" })
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Food Image:")
            <input type="file" name="foodIamge" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Restaurant Image:")
            <input type="file" name="restaurantIamge" />
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save Restaurant" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>

