@using HaarlemFestival.Models
@model Restaurant

<script>
    $(document).ready(function () {
        $("[type='number']").keypress(function (key)
        {
            key.preventDefault();
        });
    });
</script>

    @if (ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Count() > 0)
    {
        <div id="bootstrapAlert" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="loginErrors">@Html.ValidationSummary()</span>
        </div>
    }

    @if (Model.RestaurantId != 0)
    {
        @Html.HiddenFor(r => r.RestaurantId, new { @Value = Model.RestaurantId})
    }

    @try
    {
        @Html.HiddenFor(r => r.LocationIMG, new { @Value = Model.LocationIMG })
    }
    catch (Exception) { }

    @try
    {
        @Html.HiddenFor(r => r.FoodIMG, new { @Value = Model.FoodIMG })
    }
    catch (Exception) { }    
    

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Name: ")
            @Html.TextBoxFor(r => r.Naam)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Description: ")
            @Html.TextAreaFor(r => r.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Rating: ")
            @Html.TextBoxFor(r => r.Rating, new { @min = 0, @max = 5, @type = "number" }) / 5
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Cuisines:") <br />

            @if (Model.Cuisines != null)
            {

                foreach (Cuisine c in Model.Cuisines)
                {
                    @Html.DropDownList("Cuisine", new SelectList((List<Cuisine>)ViewData["Cuisines"], "CuisineId", "Naam", c.CuisineId), "[Select a Cuisine]", new { @Value = c.CuisineId , @class = "Cuisines"}) <br />
                }
            }

            @Html.DropDownList("Cuisine", new SelectList((List<Cuisine>)ViewData["Cuisines"], "CuisineId", "Naam"), "[Select a Cuisine]", new { @class = "Cuisines" }) <br />
            
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Food Image:")
            <input type="file" name="foodIamge" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            @Html.Label("Restaurant Image:")
            <input type="file" name="restaurantIamge" />
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save Restaurant" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>

