@using HaarlemFestival.Models;
@{
    ViewBag.Title = "Answer Contactmessages";
}
@model AnswerContactViewModel

<div class="event-banner"></div>
@{
    if (Session["Question_Answered"] != null)
    {
        if ((bool)Session["Question_Answered"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Success!</h3> The questions has been answered.
                </div>
            </div>
        }

        Session["Question_Answered"] = false;
    }
}

<div class="modal fade" id="messagePopup" tabindex="-1" role="dialog" aria-labelledby="deletePopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT -->
        <div class="modal-content">


        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/FilterTableData.js"></script>
<script type="text/javascript"> 
    function ShowQuestionForm(id) {
        $.get('@Url.Action("_AnswerQuestionPartial", "Admin")', { id: id }, function (form) {
            $("#messagePopup .modal-content").html(form);
                $(".errorAlert").css("display", "none");
        });
    }
</script>

<div class="container">
    <section id="topFilterBar" class="col-md-12">
        <div id="selectEvent" class="col-md-3 col-sm-12">
            <b>Select a Category</b>
            <br />
            <select id="RegardingSelect" class="filters" name="RegardingSelect" onchange="FilterData()">
                <option value="">Select a Category.</option>
                <option value="0">Jazz@Patronaat</option>
                <option value="1">Dinner In Haarlem</option>
                <option value="2">Talking Haarlem</option>
                <option value="3">Historic Haarlem</option>
                <option value="4">Orders</option>
                <option value="5">Other</option>
            </select>
        </div>
        <div id="filterSystem" class="col-md-9 col-sm-12">
            <div class="col-md-3">
                <b>Answered</b>
                <br />
                <select id="AnsweredSelect" class="filters" name="RegardingSelect" onchange="FilterData()">
                    <option value="">Both</option>
                    <option value="Yes">Answered</option>
                    <option value="No">Not Answered</option>
                </select>
            </div>
            <div class="col-md-3">
                <b>Search</b>
                <br />
                <input id="searchData" class="filters" type="text" name="search" placeholder="&#xF002 Search.." onkeyup="FilterData()">
            </div>
        </div>
    </section>
    <table class="questionArea eventTable table table-striped table-responsive">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Question</th>
                <th>Reviewed</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody class="data text-center">
            @foreach (ContactMessage message in Model.Messages)
            {
            <tr>
                <td>@message.Regarding</td>
                <td>@message.Name</td>
                <td>@message.Email</td>
                <td>@message.Subject</td>
                <td>@message.Question</td>
                <td>@(message.Answered ? "Yes" : "No")</td>
                <td><a onclick="ShowQuestionForm(@message.Id);" data-toggle="modal" data-target="#messagePopup"><i class="fa fa-reply" aria-hidden="true"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>