@using HaarlemFestival.Models;
@{
    ViewBag.Title = "AnswerContactmessage";
}
@model AnswerContactViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $(".question").each(function () {
            $(this).hide();
        })
    })

    function FilterCategory() {
        var category = $("#RegardingSelect").val();

        $(".question").each(function () {
            $(this).hide();
        })

        $(".category-" + category).each(function () {
            $(this).show();
        })
    }
</script>

<div class="container">
    <select id="RegardingSelect" name="RegardingSelect" onchange="FilterCategory()">
        <option>Select a Category.</option>
        <option value="0">Jazz@Patronaat</option>
        <option value="1">Dinner In Haarlem</option>
        <option value="2">Talking Haarlem</option>
        <option value="3">Historic Haarlem</option>
        <option value="4">Orders</option>
        <option value="5">Other</option>
    </select>

    @foreach (ContactMessage message in Model.Messages)
    {
        <div class="category-@((int)message.Regarding) question manageEvent formStyle">
            <div class="col-md-6">
                @Html.Label("Name")
                @Html.TextBox("Name", message.Name, new { @class = "" })
            </div>
            <div class="col-md-6">
                @Html.Label("Email")
                @Html.TextBox("Email", message.Email, new { @class = "" })
            </div>
            <div class="col-md-12">
                @Html.Label("Subject")
                @Html.TextBox("Subject", message.Subject, new { @class = "" })
            </div>
            <div class="col-md-12">
                @Html.Label("Question")
                @Html.TextArea("Question", new { @class = "" })
            </div>
        </div>
    }

    @Html.BeginForm("AnswerMessage", "Admin")
    {
    <div class="answer-question col-md-12">
        @Html.TextArea("Answer", "Admin", FormMethod.Post)
        <input type="submit" class="btn btn-black" />
    </div>
    }
</div>