@model HaarlemFestival.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<script>
    // Als de pagina is geladen.
    $(document).ready(function ()
    {
        var badLogins = @Session["failedLogins"];

        if (badLogins == 3) {
            LoginBlock();
            @{Session["failedLogins"] = 0;}
        }
    });


    function LoginBlock()
    {
        $('#loginButton').prop('disabled', true); // loginknop disablen
        $('#loginButton').css('cursor', 'not-allowed');
        // Loginknop na 300 seconden (5 minuten) enablen en de failedLogins counter resetten

        setTimeout(function () {
            $('#loginButton').removeProp('disabled');
            $('#loginButton').css('cursor', 'pointer');
        }, 300000)
    }
</script>

<div class="container body-content">
    <section id="loginError">
        @Html.ValidationSummary();
    </section>

    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @Html.LabelFor(l => l.Username);
        @Html.TextBoxFor(l => l.Username);

        @Html.LabelFor(l => l.Password);
        @Html.PasswordFor(l => l.Password);

        <input id="loginButton" type="submit" value="Log in >>" />
    }
</div>