@model HaarlemFestival.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<div class="container body-content">
    <section id="loginError">
        @Html.ValidationSummary();
    </section>

    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @Html.LabelFor(l => l.Username);
        @Html.TextBoxFor(l => l.Username);

        @Html.LabelFor(l => l.Password);
        @Html.PasswordFor(l => l.Password);

        <input id="loginButton" type="submit" value="Log in >>" />
    }
</div>