@model HaarlemFestival.Models.LoginModel
@{
    ViewBag.Title = "Login";

}

<script>
    // Als de pagina is geladen.
    $(document).ready(function ()
    {
        var badLogins = @Session["failedLogins"];
        GetModelErrors("@ViewData.ModelState.IsValid", badLogins)

        if (badLogins == 3) {
            LoginBlock();
            @{Session["failedLogins"] = 0;}
        }
    });


    function GetModelErrors(noErrors, failedLogins)
    {
        if ((noErrors != "True") || (failedLogins == 3)) {
            $('#loginError').css('opacity', '1.0');
        }
    }

    function LoginBlock()
    {

        $('#loginButton').prop('disabled', true); // loginknop disablen
        $('#loginButton').css('cursor', 'not-allowed');
        $('#loginButton').css('opacity', '0.5');
        // Loginknop na 300 seconden (5 minuten) enablen en de failedLogins counter resetten

        setTimeout(function () {
            $('#loginButton').removeProp('disabled');
            $('#loginButton').css('cursor', 'pointer');
            $('#loginButton').css('opacity', '1');
        }, 300000)
    }
</script>

<div class="container body-content">

    <section id="loginArea">

        <div id="loginError">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong><br />
                @Html.ValidationSummary()
            </div>
        </div>

        <p class="title">Please enter your login information below.</p>

        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
            {

                <div class="form-group">
                    <div class="input-group">
                        <p class="input-group-addon"><i class="glyphicon glyphicon-user"></i></p>
                        @Html.TextBoxFor(l => l.Username, new { placeholder = "Username", @class = "username form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <p class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></p>
                        @Html.PasswordFor(l => l.Password, new { placeholder = "Password", @class = "password form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <input id="loginButton" class="form-control" type="submit" value="Log in >>" />
                </div>
            }
        </div>
    </section>
</div>