@model HaarlemFestival.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<script>
    // Als de pagina is geladen.
    $(document).ready(function ()
    {
        var badLogins = @Session["failedLogins"];

        if (badLogins == 3) {
            LoginBlock();
            @{Session["failedLogins"] = 0;}
        }
    });


    function LoginBlock()
    {
        $('#loginButton').prop('disabled', true); // loginknop disablen
        $('#loginButton').css('cursor', 'not-allowed');
        // Loginknop na 300 seconden (5 minuten) enablen en de failedLogins counter resetten

        setTimeout(function () {
            $('#loginButton').removeProp('disabled');
            $('#loginButton').css('cursor', 'pointer');
        }, 300000)
    }
</script>

<div class="container body-content">

    <section id="loginArea">
        <section id="loginError">
            @Html.ValidationSummary()
        </section>

        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
        {
            <ul>
                <li>@Html.LabelFor(l => l.Username, new { @class = "usernameLabel" }) @Html.TextBoxFor(l => l.Username, new { placeholder = "Username", @class = "username" })</li>
                <li>@Html.LabelFor(l => l.Password, new { @class = "passwordLabel" }) @Html.PasswordFor(l => l.Password, new { placeholder = "Password", @class = "password" })</li>

                <li><input id="loginButton" type="submit" value="Log in >>" /></li>
            </ul>
        }
    </section>
</div>