@using HaarlemFestival.Models
@using System.Text.RegularExpressions

@model EventData
@{
    ViewBag.Title = "Manage";
}

<!-- Modal Delete Data -->
<div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-labelledby="deletePopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT -->
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Data</h4>
            </div>

            <!-- BODY -->
            <div class="modal-body">
                Are you sure you want to delete this data?
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("DeleteEvent", "Admin", new { /* ID meesturen */ })'"><i class="fa fa-check"></i> Yes, I am sure</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No, Take me back</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal New Data -->
<div class="modal fade" id="newPopup" tabindex="-1" role="dialog" aria-labelledby="newPopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT -->
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Data</h4>
            </div>

            <!-- BODY -->
            <div class="modal-body">


                @{Html.RenderPartial("_AddEventView", "Admin");}

                <!-- TODO: Maak tekstvakken aan om nieuw data in te lezen. -->
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AddEvent", "Admin", new { /* ACTIVITY meesturen */ })'"><i class="fa fa-check"></i> Yes, I am sure</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No, Take me back</button>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <script type="text/javascript">

        $(document).ready(function () {
            var chosenEvent = "@ViewBag.ChosenEvent"

            $('#selectedEvent').val(chosenEvent);
            SelectedEventChanged();

            // Tooltips maken.
            $('[data-toggle="tooltip"]').tooltip(); 
        })

        // Nieuwe Functie aanmaken om iets te centreren.
        jQuery.fn.center = function () {
            this.css("position", "absolute"); // Position: Absolute toevoegen

            // het Item naar het midden van de pagina zetten.
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                $(window).scrollLeft()) + "px");
            return this;
        }

        function SelectedEventChanged()
        {
            // Alle Data Tabellen verbergen.
            $('.eventTable').each(function ()
            {
                $(this).hide();
            })

            // Alle filters verbergen.
            $('.eventFilter').each(function ()
            {
                $(this).hide();
            })

            // Aan de hand van een evenement de data en filters tonen.
            switch ($('#selectedEvent').val())
            {
                case "Jazz@Patronaat":
                    $('#jazzTable').show();
                    $('#dateFilter').show();
                    break;

                case "DinnerInHaarlem":
                    $('#dateFilter').show();
                    $('#dinnerTable').show();
                    $('#cuisineFilter').show();
                    $('#restaurantFilter').show();
                    break;

                case "TalkingHaarlem":
                    $('#dateFilter').show();
                    $('#talkingTable').show();
                    break;

                case "HistoricHaarlem":
                    $('#historicTable').show();
                    $('#dateFilter').show();
                    $('#guideFilter').show();
                    $('#languageFilter').show();
                    break;
            }
        }

        // Data uit de tabel filteren.
        function FilterData()
        {
            var filters = [];


            // Voor elke filter
            $('.eventFilter').each(function () {

                if ($(this).val() != "") // Als de filter is geselecteerd.
                {
                    filters.push($(this).val()) // Filter toevoegen.
                }
            })


            // TEST: Alle Filters in de console neerzetten.
            console.log(filters);

            // Alle rows van de table vinden.
            var tr = $(".eventData").find("tr");
            tr.hide(); // Alle rows van de table verbergen.

            // Als er geen filter is geselecteerd.
            if (filters.length == 0)
            {
                tr.show(); // Alle rijen laten zien.
                return; // Uit de functie gaan.
            }

            // Elke rij filteren.
            tr.filter(function ()
            {
                var $t = $(this);
                for (var index = 0; index < filters.length; ++index)
                {

                    if ($t.is(":not(:contains('" + filters[index] + "'))")) // Als de rij niet voldoet aan de filters
                    {
                        return false; // Rij verbergen.
                    }
                }

                return true; // Rij laten zien.
            })
                .show();
        }
        function DeleteConfirm(id)
        {
            $("#deletePopup").attr("activityId", id);
        }

    </script>

    <section id="topFilterBar">
        <div id="selectEvent">
            
            <select id="selectedEvent" name="selectedEvent" onchange="SelectedEventChanged()">
                <option value="">Select an event.</option>
                <option value="Jazz@Patronaat">Jazz@Patronaat</option>
                <option value="DinnerInHaarlem">Dinner in Haarlem</option>
                <option value="TalkingHaarlem">Talking Haarlem</option>
                <option value="HistoricHaarlem">Historic Haarlem</option>
            </select>
        </div>

        <div id="filterSystem">
            <!-- Html.DropDownListFor(m => m.Dates, new SelectList(Model.Dates, "Naam", "Naam"), "Select a Date.", new { id = "dateFilter", class = "eventFilter", onchange = "FilterData()" }) -->
            <select id="dateFilter" class="eventFilter" onchange="FilterData()">
                <option value="">Select a Date.</option>
                <option value="Thursday 26-07-18">Thursday 26-07-18</option>
                <option value="Friday 27-07-18">Friday 27-07-18</option>
                <option value="Saturday 28-07-18">Saturday 28-07-18</option>
                <option value="Sunday 29-07-18">Sunday 29-07-18</option>
            </select>        

            @Html.DropDownListFor(m => m.Guides, new SelectList(Model.Guides, "GuideName", "GuideName"), "Select a Guide.", new { @id = "guideFilter", @class = "eventFilter", @onchange = "FilterData()" }) 
            @Html.DropDownListFor(m => m.Languages, new SelectList(Model.Languages, "LanguageName", "LanguageName"), "Select a Language.", new { @id = "languageFilter", @class = "eventFilter", @onchange = "FilterData()" })
            @Html.DropDownListFor(m => m.Restaurants, new SelectList(Model.Restaurants, "Naam", "Naam"), "Select a Restaurant", new { @id = "restaurantFilter", @class = "eventFilter", @onchange = "FilterData()" })
            @Html.DropDownListFor(m => m.Cuisines, new SelectList(Model.Cuisines, "Naam", "Naam"), "Select a Cuisine.", new { @id = "cuisineFilter", @class = "eventFilter", @onchange = "FilterData()" })
            
            
        </div>
    </section>

    <section>
        <button data-toggle="modal" data-target="#newPopup" href="#">Add new data.</button>
        <table id="jazzTable" class="eventTable table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date & Time</th>
                    <th>Location</th>
                    <th>Hall</th>
                    <th>Price</th>
                    <th>Seats</th>
                    <th>Image</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody class="eventData">
                @foreach (Jazz activity in Model.Activities.OfType<Jazz>())
                {
                    <tr>
                        <td>@activity.artist.ArtistName</td>
                        <td>@Regex.Replace(activity.artist.ArtistInformation, @"<(.|\n)*?>", string.Empty)</td>
                        <td>@activity.StartSession.ToString("dddd dd-MM-yy H:mm") - @activity.EndSession.ToString("H:mm")</td>
                        <td>@activity.ConcertLocation</td>
                        <td>@activity.ConcertHall</td>
                        <td>@activity.Price</td>
                        <td>@activity.TotalTickets</td>
                        <td><i class="glyphicon glyphicon-picture" data-toggle="tooltip" data-placement="top" title="Image" aria-hidden="true"></i></td>
                        <td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatePopup" href="#"></i></td>
                        <td><i onclick="DeleteConfirm(@activity.ActivityId)" data-toggle="modal" data-target="#deletePopup" href="#" class="glyphicon glyphicon-remove"></i></td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- TODO: Dinner laten zien (W.I.P) -->
        <table id="dinnerTable" class="eventTable table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Adress</th>
                    <th>Session</th>
                    <th>Rating</th>
                    <th>Seats</th>
                    <th>Cuisines</th>
                    <th>Price</th>
                    <th>Price (12-)</th>
                    <th>Food Image</th>
                    <th>Restaurant Image</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody class="eventData">
                @foreach(Dinner activity in Model.Activities.OfType<Dinner>())
                {
                    <tr>
                        <td>@activity.Restaurant.Naam</td>
                        <td>@activity.Restaurant.Description</td>
                        <td>@activity.Address</td>
                        <td>@activity.StartSession.ToString("dddd dd-MM-yy H:mm") - @activity.EndSession.ToString("H:mm")</td>
                        <td>@activity.Restaurant.Rating</td>
                        <td>@activity.TotalTickets</td>
                        <td>Cuisines</td>
                        <td>@activity.Price</td>
                        <td>@activity.AlternativePrice</td>
                        <td><i class="glyphicon glyphicon-picture" data-toggle="tooltip" data-placement="top" title="Image Food" aria-hidden="true"></i></td>
                        <td><i class="glyphicon glyphicon-picture" data-toggle="tooltip" data-placement="top" title="Image Restaurant" aria-hidden="true"></i></td>
                        <td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatePopup" href="#"></i></td>
                        <td><i onclick="DeleteConfirm(@activity.ActivityId)" data-toggle="modal" data-target="#deletePopup" href="#" class="glyphicon glyphicon-remove"></i></td>
                    </tr>
                }
            </tbody>
        </table>

        <table id="talkingTable" class="eventTable table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Interview</th>
                    <th>Description</th>
                    <th>Date & Time</th>
                    <th>Seats</th>
                    <th>Location</th>
                    <th>Hall</th>
                    <th>Price</th>
                    <th>Maximum Tickets</th>
                    <th>Image</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody class="eventData">
                @foreach (Talking activity in Model.Activities.OfType<Talking>())
                {
                    <tr>
                        <td>@activity.Talk.Person1 meets @activity.Talk.Person2</td>
                        <td>Description - Niet aangemaakt in class</td>
                        <td>@activity.StartSession.ToString("dddd dd-MM-yy H:mm") - @activity.EndSession.ToString("H:mm")</td>
                        <td>@activity.TotalTickets</td>
                        <td>@activity.Address</td>
                        <td>Hall - Niet aangemaakt in class</td>
                        <td>@activity.Price</td>
                        <td>@activity.Talk.MaxTickets</td>
                        <td><i class="glyphicon glyphicon-picture" data-toggle="tooltip" data-placement="top" title="Image" aria-hidden="true"></i></td>
                        <td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatePopup" href="#"></i></td>
                        <td><i onclick="DeleteConfirm(@activity.ActivityId)" data-toggle="modal" data-target="#deletePopup" href="#" class="glyphicon glyphicon-remove"></i></td>
                    </tr>
                }
            </tbody>
        </table>

        <table id="historicTable" class="eventTable table table-striped table-responsive">
            <thead>
            <tr>
                <th>Date & Time</th>
                <th>Start Location</th>
                <th>Language</th>
                <th>Guide</th>
                <th>Seats</th>
                <th>Price</th>
                <th>Group Ticket</th>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tbody class="eventData">
                @foreach (Historic activity in Model.Activities.OfType<Historic>())
                {
                    <tr>
                        <td>@activity.StartSession.ToString("dddd dd-MM-yy H:mm")</td>
                        <td>@activity.Address</td>
                        <td>@activity.Tour.Language.LanguageName</td>
                        <td>@activity.Tour.Guide.GuideName</td>
                        <td>@activity.TotalTickets</td>
                        <td>@activity.Price</td>
                        <td>@activity.AlternativePrice</td>
                        <td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatePopup" href="#"></i></td>
                        <td><i onclick="DeleteConfirm(@activity.ActivityId)" data-toggle="modal" data-target="#deletePopup" href="#" class="glyphicon glyphicon-remove"></i></td>
                    </tr>
                }
            </tbody>
        </table>

    </section>
</div>
