@using HaarlemFestival.Models;
@{
    /**/

    ViewBag.Title = "ManageAccounts";
    Account loggedin_account = (Account)Session["loggedin_account"];
}
@model ManageAccountViewModel

<div class="event-banner"></div>
@{
    if (Session["Data_Added"] != null)
    {
        if ((bool)Session["Data_Added"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Success!</h3> The account has sucessfully been added.
                </div>
            </div>
        }

        Session["Data_Added"] = false;
    }

    if (Session["Data_Updated"] != null)
    {
        if ((bool)Session["Data_Updated"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Success!</h3> The account has sucessfully been updated.
                </div>
            </div>
        }

        Session["Data_Updated"] = false;
    }

    if (Session["Data_Deleted"] != null)
    {
        if ((bool)Session["Data_Deleted"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Success!</h3> The account has sucessfully been deleted.
                </div>
            </div>
        }

        Session["Data_Deleted"] = false;
    }
}

<script type="text/javascript" src="~/Scripts/SetFormOptions.js"></script>
<script type="text/javascript" src="~/Scripts/FilterTableData.js"></script>
<script type="text/javascript">
     function OpenUpdateForm(id) {
            $.get('@Url.Action("_UpdateData", "Admin")', { id: id, type: 'Account' }, function (form) {
                $("#updatePopup .modal-content").html(form);
                $(".errorAlert").css("display", "none");
                SetFormOptions();
            });
     }

     function OpenDeleteConfirm(id) {
            $("#deletePopup").attr("accountId", id);
     }

    function DeleteConfirmed() {
            var type = sessionStorage.getItem("type");
            var url = '@Url.Action("DeleteAccount", "Admin")';
            var accountId = $("#deletePopup").attr("accountId");

            $.post(url, { id: accountId });

            window.location.href = '@Url.Action("ManageAccounts", "Admin")';
     }

    function SubmitForm(form) {
            $.ajax({
                type: 'post',
                url: $(form).attr("action"),
                data: $(form).serialize(),
                complete: function (data) {
                    console.log(data);
                    console.log();

                    if (data.responseJSON.success == true) {
                        console.log("Successful");
                        window.location.href = '@Url.Action("ManageAccounts", "Admin")';
                    }
                    else {
                        $(".errorAlert").css("display", "block");
                        $(".errorList").html(data.responseJSON.errorList);
                    }
                }
            });
        }
            </script>

<!-- Modal Delete Data -->
<div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-labelledby="deletePopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT -->
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Data</h4>
            </div>

            <!-- BODY -->
            <div class="modal-body">
                Are you sure you want to delete this account?
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteConfirmed()"><i class="fa fa-check"></i> Yes, I am sure</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No, Take me back</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Data -->
<div class="modal fade" id="addPopup" tabindex="-1" role="dialog" aria-labelledby="newPopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT -->
        <div class="modal-content">
            @{Html.RenderAction("_AddAccountPartial", "Admin");}
        </div>
    </div>
</div>

<!-- Modal Update Data -->
<div class="modal fade" id="updatePopup" tabindex="-1" role="dialog" aria-labelledby="newPopup">
    <div class="modal-dialog modal-lg" role="document">

        <!-- CONTENT WORDT INGELADEN VIA JS FUNCTIE DIE EEN PARTIALVIEW LAAD -->
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="container body-content">


    <section id="topFilterBar" class="col-md-12 col-sm-12 col-xs-12">
        <div id="selectEvent" class="col-md-3 col-sm-12 col-xs-12">
            <b>Select a Category</b>
            <br />
            @Html.DropDownList("RoleSelection", new SelectList(Model.Roles, "RoleName", "RoleName"), new { })
        </div>
        <div id="filterSystem" class="col-md-9 col-sm-12 col-xs-12">
            <div class="col-md-3 eventFilter">
                <b>Search</b>
                <br />
                <input id="searchData" class="filters" type="text" name="search" placeholder="&#xF002 Search.." onkeyup="FilterData()">
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="newDataDiv">
            <div class="col-md-12 middle">In need of a new account? You can add it over here!</div>
            <div class="col-md-12 middle"><button class="btn btn-black" data-toggle="modal" data-target="#addPopup" onclick="SetFormOptions();" href="#">Add new data.</button></div>
        </div>
    </div>

    <table class="eventTable table table-striped table-responsive">
        <thead>
            <tr class="text-center">
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody class="data text-center">
            @foreach (Account account in Model.AccountList)
            {
            <tr>
                <td>@account.Naam</td>
                <td>@account.Username</td>
                <td>@account.Role.RoleName</td>
                <td><i onclick="OpenUpdateForm(@account.Id)" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatePopup" href="#"></i></td>
                
                @if (account.Id != loggedin_account.Id)
                {
                    <td><i onclick="OpenDeleteConfirm(@account.Id)" data-toggle="modal" data-target="#deletePopup" href="#" class="glyphicon glyphicon-remove"></i></td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
