@{
    ViewBag.Title = "Overview";
}
<div class="container body-content">
    <section id="ManageEvent">
        <span class="intoText">
            <!-- TODO: Intro tekst Manage Event -->
        </span>
        @Html.ActionLink("Jazz@Patronaat", "ManageEvent", "Admin", new { selectedEvent = "Jazz@Patronaat" }, null);
        @Html.ActionLink("Dinner in Haarlem", "ManageEvent", "Admin", new { selectedEvent = "Dinner-in-Haarlem" }, null);
        @Html.ActionLink("Talking Haarlem", "ManageEvent", "Admin", new { selectedEvent = "Talking-Haarlem" }, null);
        @Html.ActionLink("Historic Haarlem", "ManageEvent", "Admin", new { selectedEvent = "Historic-Haarlem" }, null);
    </section>

    <section id="TicketSalesInformation">
        <span class="intoText">
            <!-- TODO: Intro tekst Ticket & Sales Information -->
        </span>
        @Html.ActionLink("Download", "Download", "Admin");
    </section>
</div>