@using HaarlemFestival.Models;
@{
    ViewBag.Title = "Overview";
    ViewBag.Account = (Account)Session["loggedin_account"];
}

<script>
    
    $(document).ready(function () {

        // Elke seconde de locale tijd opnieuw ophalen en neerzetten.
        setInterval(function ()
        {
            dateTime = new Date().toLocaleDateString() + " " + new Date().toLocaleTimeString() + " ";
            $("#currentTime").text(dateTime);
        }, 1000
        );

        // Tooltips maken.
        $('[data-toggle="tooltip"]').tooltip(); 
    })
</script>

<div class="container body-content">  
    
    <div id="welcomeArea" class="panel panel-primary col-md-6 col-md-offset-3">
        <div data-toggle="collapse" data-target="#welcomeInformation" class="panel-heading">
            Welcome, <!-- ViewBag.Account.Naam -->
        </div>

        <div id="welcomeInformation" class="in">
            <div class="panel-body">
                The current time is: <span id="currentTime"></span><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="This time is your local time." aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 overviewContent" id="ManageEvent">

        <!-- HEADER IMAGE 
        <hr class="title-hr title-line-left">
        <div class="event-header overviewHeader">
            <div class="overlay">
                <span class="header_tekst">Manage Events</span>
            </div>
        </div>
        <hr class="title-hr title-line-right">-->

        <!-- INTRO TEXT -->
        <p class="introText">
            By clicking on one of these buttons you will be navigated to another page where you can Add, Update and Delete data of the chosen event.
        </p>

        <!-- MANAGE EVENT BUTTONS -->
        <div id="manageEventSelection">
            <div class="col-sm-5"><button class="btn btn-black" onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "Jazz@Patronaat" }, null)'">Jazz@Patronaat</button></div>
            <div class="col-sm-5 col-md-offset-1"><button class="btn btn-black" onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "DinnerInHaarlem" }, null)'">Dinner In Haalrem</button></div>
            <div class="col-sm-5"><button class="btn btn-black" onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "TalkingHaarlem" }, null)'">Talking Haarlem</button></div>
            <div class="col-sm-5 col-md-offset-1"><button class="btn btn-black" onclick="location.href='@Url.Action("ManageEvent", "Admin", new { selectedEvent = "HistoricHaarlem" }, null)'">Historic Haarlem</button></div>
        </div>
    </div>

        <div class="col-md-4 col-md-offset-2 overviewContent" id="TicketSalesInformation">

            <!-- HEADER IMAGE 
            <hr class="title-hr title-line-left">
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Ticket & Sales information</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">-->

            <!-- INTROTEXT -->
            <p class="introText">
                By clicking the Download button you will download an excel file which contains all information about tickets availability and sales. The information per event is distributed over different sheets.
            </p>

            <!-- BUTTON -->           
            <div class="col-sm-3 col-sm-offset-4"><button class="btn btn-black" onclick="location.href='@Url.Action("Download", "Admin")'">Download</button></div>
            
        </div>
</div>