@{
    ViewBag.Title = "Overview";
}
<div class="container body-content">
    <section id="ManageEvent">
        <span class="introText">
            <!-- TODO: Intro tekst Manage Event -->
        </span>
        @Html.ActionLink("Jazz@Patronaat", "ManageEvent", "Admin", new { selectedEvent = "Jazz@Patronaat" }, null);
        @Html.ActionLink("Dinner in Haarlem", "ManageEvent", "Admin", new { selectedEvent = "DinnerInHaarlem" }, null);
        @Html.ActionLink("Talking Haarlem", "ManageEvent", "Admin", new { selectedEvent = "TalkingHaarlem" }, null);
        @Html.ActionLink("Historic Haarlem", "ManageEvent", "Admin", new { selectedEvent = "HistoricHaarlem" }, null);
    </section>

    <section id="TicketSalesInformation">
        <span class="introText">
            <!-- TODO: Intro tekst Ticket & Sales Information -->
        </span>
        @Html.ActionLink("Download", "Download", "Admin");
    </section>
</div>