@using HaarlemFestival.Models;
@using System.Collections.Generic;

@model List<Jazz>

@{
    ViewBag.Title = "Jazz@Patronaat";
}

<div class="event-banner jazz-overview"></div>

<div class="event container jazz-overview">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Jazz@Patronaat</h1>
                <p class="content">
                    Do you like some Jazz music? Then Jazz@Patronaat is the perfect event to go to! With over 18 bands performing in 4 days there must be something for you!
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_1.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_2.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_3.png" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Artist information</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Section 3-->
        <div class="event-section-3">                   
            @foreach (Jazz j in Model)
            {                      
                <div class="col-md-6">

                    <div class="artist-info">
                        <div class="artist-image">
                            <img src="/images/Jazz/artiesten/@j.artist.ArtistImage"/>
                        </div>

                        <div class="artist-content">
                            <h2>@j.artist.ArtistName</h2>
                            @Html.Raw(j.artist.ArtistInformation)
                            
                            <p>
                                <b>Time: </b> @j.StartSession.ToShortTimeString() - @j.EndSession.ToShortTimeString()<br />
                                <b>Price: </b> @if (j.Price != 0)
                                {
                                    <span>&euro;@j.Price,-</span>
                                }
                                else
                                {
                                    <span>Free!</span>
                                }

                            </p>
                            <p>
                                @Html.ActionLink("Book now", "Reservation", "Jazz", new { @class = "btn btn-black" })
                            </p>
                            
                        </div>
                    </div>
                            
                </div>

                
            }

            </div>

        </div>
        
    </div>
