@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model JazzView

@{
    ViewBag.Title = "Jazz@Patronaat - Reservation";
}

<div class="event-banner jazz"></div>
@{
    if (Session["added_to_basket"] != null)
    {
        if ((bool)Session["added_to_basket"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Added!</h3> The item has been added to your basket.
                </div>
            </div>
        }

        Session["added_to_basket"] = false;
    }
}
<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Jazz@Patronaat - Reservation</h1>
                <p class="content">
                    Alle tekst.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_1.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_2.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_3.png" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header">
                <div class="overlay">
                    <span class="header_tekst">Reservation</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>
        <!-- Content -->

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#day1">On Thursday</a></li>
            <li><a data-toggle="tab" href="#day2">On Friday</a></li>
            <li><a data-toggle="tab" href="#day3">On Saturday</a></li>
            <li><a data-toggle="tab" href="#passepartout">Passe Partout</a></li>
        </ul>
        <script type="text/javascript">


            function CalcPriceAndTicketCheck(nummer, price, availableTickets) {
                // Krijg de waardes van de input boxes
                var tickets = document.getElementById("ticket" + nummer).value;

                if (tickets < 0) {
                    alert("You can not order less then 0 tickets");
                    tickets = 0;
                    document.getElementById("ticket" + nummer).value = ("0");
                }

                var totalprice = (tickets * price);
                document.getElementById("totalprice" + nummer).innerHTML = ("€ " + (totalprice.toFixed(2)).replace(".", ","));


            }
        </script>


        @{
            List<BesteldeActiviteit> activiteit = new List<BesteldeActiviteit>();
            int i = 0;
            string idtickets;
            string totalprice;
            int availableTickets = 0;
        }


        @using (Html.BeginForm("Book", "Jazz", FormMethod.Post))
        {
            <div class="tab-content">
                <!-- Day 1 -->
                <div id="day1" class="tab-pane fade in active jazz-tickets">
                    <div class="table table-hover table-responsive ticket-table">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Tickets</th>
                                <th>Artist</th>
                                <th>Concert location</th>
                                <th>Hall</th>
                                <th>Time</th>
                                <th>Total price</th>
                            </tr>

                            @foreach (Jazz j in Model.Jazzs)
                            {
                                if (j.Day.DayId == 1)
                                {
                                    Model.Reservering.Add(new BesteldeActiviteit());

                                    // De unieke id's aanmaken per rij
                                    idtickets = String.Format("ticket{0}", i);
                                    totalprice = String.Format("totalprice{0}", i);

                                    // availableTickets berekenen
                                    if (j.AlternativePrice != 1)
                                    {
                                        availableTickets = j.TotalTickets - j.BoughtTickets;
                                    }
                                    else
                                    {
                                        
                                    }


                                    // De tabel aanmaken
                                    <tr>
                                        <td class="hidden"><input name="Reservering[@i].Activiteit.ActivityId" value="@j.ActivityId" class="hidden" /></td>
                                        <td>@j.StartSession.ToShortDateString()</td>
                                        <td class="ticketsInput" onchange="CalcPriceAndTicketCheck(@i, @j.Price, @availableTickets>@Html.TextBoxFor(m => Model.Reservering[i].Aantal, new { @type = "number", @min = 0, @id = idtickets })</td>
                                        <td>@j.artist.ArtistName</td>
                                        <td>@j.ConcertLocation</td>
                                        <td>@j.ConcertHall</td>
                                        <td>@j.StartSession.ToShortTimeString() - @j.EndSession.ToShortTimeString()</td>
                                        <td><p id=@totalprice>€ -</p></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>

                    </div>
                </div>

                <!-- Day 2 -->
                <div id="day2" class="tab-pane fade jazz-tickets">
                    <div class="table table-hover table-responsive ticket-table">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Tickets</th>
                                <th>Artist</th>
                                <th>Concert location</th>
                                <th>Hall</th>
                                <th>Time</th>
                                <th>Total price</th>
                            </tr>

                            @foreach (Jazz j in Model.Jazzs)
                            {
                                if (j.Day.DayId == 2)
                                {
                                    Model.Reservering.Add(new BesteldeActiviteit());
                                    // De unieke id's aanmaken per rij
                                    idtickets = String.Format("ticket{0}", i);
                                    totalprice = String.Format("totalprice{0}", i);

                                    // De tabel aanmaken
                                    <tr>
                                        <td class="hidden"><input name="Reservering[@i].Activiteit.ActivityId" value="@j.ActivityId" class="hidden" /></td>
                                        <td>@j.StartSession.ToShortDateString()</td>
                                        <td class="ticketsInput" onchange="CalcPrice(@i, @j.Price);">@Html.TextBoxFor(m => Model.Reservering[i].Aantal, new { @type = "number", @min = 0, @id = idtickets })</td>
                                        <td>@j.artist.ArtistName</td>
                                        <td>@j.ConcertLocation</td>
                                        <td>@j.ConcertHall</td>
                                        <td>@j.StartSession.ToShortTimeString() - @j.EndSession.ToShortTimeString()</td>
                                        <td><p id=@totalprice>€ -</p></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>

                    </div>
                </div>

                <!-- Day 3 -->
                <div id="day3" class="tab-pane fade jazz-tickets">
                    <div class="table table-hover table-responsive ticket-table">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Tickets</th>
                                <th>Artist</th>
                                <th>Concert location</th>
                                <th>Hall</th>
                                <th>Time</th>
                                <th>Total price</th>
                            </tr>

                            @foreach (Jazz j in Model.Jazzs)
                            {
                                if (j.Day.DayId == 3)
                                {
                                    Model.Reservering.Add(new BesteldeActiviteit());

                                    // De unieke id's aanmaken per rij
                                    idtickets = String.Format("ticket{0}", i);
                                    totalprice = String.Format("totalprice{0}", i);

                                    // De tabel aanmaken
                                    <tr>
                                        <td class="hidden"><input name="Reservering[@i].Activiteit.ActivityId" value="@j.ActivityId" class="hidden" /></td>
                                        <td>@j.StartSession.ToShortDateString()</td>
                                        <td class="ticketsInput" onchange="CalcPrice(@i, @j.Price);">@Html.TextBoxFor(m => Model.Reservering[i].Aantal, new { @type = "number", @min = 0, @id = idtickets })</td>
                                        <td>@j.artist.ArtistName</td>
                                        <td>@j.ConcertLocation</td>
                                        <td>@j.ConcertHall</td>
                                        <td>@j.StartSession.ToShortTimeString() - @j.EndSession.ToShortTimeString()</td>
                                        <td><p id=@totalprice>€ -</p></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>

                    </div>
                </div>

                <!-- Passe-Partout -->
                <div id="passepartout" class="tab-pane fade jazz-tickets">
                    <div class="table table-hover table-responsive ticket-table">
                        <table>
                            <tr>
                                <th>Type Passe Partout</th>
                                <th>Amount</th>
                                <th>Concert location</th>
                                <th>Total price</th>
                            </tr>

                            @foreach (Jazz j in Model.Jazzs)
                            {
                                if (j.Day.DayId == 6)
                                {
                                    Model.Reservering.Add(new BesteldeActiviteit());

                                    // De unieke id's aanmaken per rij
                                    idtickets = String.Format("ticket{0}", i);
                                    totalprice = String.Format("totalprice{0}", i);

                                    // De tabel aanmaken
                                    <tr>
                                        <td class="hidden"><input name="Reservering[@i].Activiteit.ActivityId" value="@j.ActivityId" class="hidden" /></td>
                                        <td>@j.artist.ArtistName</td>
                                        <td class="ticketsInput" onchange="CalcPrice(@i, @j.Price);">@Html.TextBoxFor(m => Model.Reservering[i].Aantal, new { @type = "number", @min = 0, @id = idtickets })</td>
                                        <td>@j.ConcertLocation</td>
                                        <td><p id=@totalprice>€ -</p></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>

                    </div>
                </div>


                <input type="submit" value="Order your tickets" class="btn btn-book btn-reservation" />

                <br /><br />
            </div>
        }
    </div>
</div>
