@using HaarlemFestival.Models;
@using System.Collections.Generic;
@using System.Data.Entity;
@model AgendaView

@{
    ViewBag.Title = "Agenda";
}

<script>
    function SwitchActivity(id) {
        var element = document.getElementById(id);
        var otherElements = document.getElementsByClassName("activities");

        for (var i = 0; i < otherElements.length; i++) {
            otherElements[i].style.display = "none";
        }

        element.style.display = "block";
    }
</script>

<div class="event-banner"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Your personal agenda</h1>
                <p class="content">
                    On this page you can see what activities you have booked.
                </p>
            </div>
            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Jazz/sfeer_3.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Dinner/sfeer/sfeer2.png" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer2.jpg" />
                </div>
            </div>
        </div>

        <div class=" event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header agenda-header">
                <div class="overlay">
                    <span class="header_tekst">Personal agenda</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <div class="event-section-3">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#agenda-thursday">Thursday</a></li>
                <li><a data-toggle="tab" href="#agenda-friday">Friday</a></li>
                <li><a data-toggle="tab" href="#agenda-saturday">Saturday</a></li>
                <li><a data-toggle="tab" href="#agenda-sunday">Sunday</a></li>
            </ul>

            <div class="tab-content">
                <div id="agenda-thursday" class="tab-pane fade in active">
                    <div class="col-md-6">
                        <div class="table table-hover table-responsive ticket-table">
                            <table>
                                <tr>
                                    <th>Time</th>
                                    <th>Activity</th>
                                </tr>
                                @{
                                    DateTime StartTime = new DateTime(2018, 7, 26, 10, 0, 0, 0);
                                    DateTime EndTime = new DateTime(2018, 7, 26, 22, 0, 0, 0);
                                    while (StartTime < EndTime)
                                    {
                                        <tr>
                                            <td>@StartTime.TimeOfDay.ToString(@"hh\:mm") - @StartTime.AddMinutes(30).TimeOfDay.ToString(@"hh\:mm") </td>
                                            <td>
                                                @foreach (BesteldeActiviteit besteldeactiviteit in Model.Day1)
                                                {
                                                    if (besteldeactiviteit.Activiteit.StartSession.TimeOfDay <= StartTime.TimeOfDay && besteldeactiviteit.Activiteit.EndSession.TimeOfDay >= StartTime.AddMinutes(30).TimeOfDay)
                                                    {
                                                        if (besteldeactiviteit.Activiteit.EventType == EventType.JazzPatronaat)
                                                        {
                                                            foreach (Jazz jazz in Model.Jazzs)
                                                            {
                                                                if (jazz.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                                                {
                                                                    <div class="agenda-activity @besteldeactiviteit.Activiteit.EventType">@jazz.artist.ArtistName</div>
                                                                    break;
                                                                }
                                                            }
                                                        }

                                                        else if (besteldeactiviteit.Activiteit.EventType == EventType.DinnerInHaarlem)
                                                        {
                                                            foreach (Dinner dinner in Model.Dinners)
                                                            {
                                                                if (dinner.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                                                {
                                                                    <div class="agenda-activity @besteldeactiviteit.Activiteit.EventType">@dinner.Restaurant.Naam</div>
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        else if (besteldeactiviteit.Activiteit.EventType == EventType.TalkingHaarlem)
                                                        {
                                                            foreach (Talking talk in Model.Talks)
                                                            {
                                                                if (talk.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                                                {
                                                                    <div class="agenda-activity @besteldeactiviteit.Activiteit.EventType">@talk.Talk.Naam</div>
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        else if (besteldeactiviteit.Activiteit.EventType == EventType.HistoricHaarlem)
                                                        {
                                                            foreach (Historic historic in Model.Historics)
                                                            {
                                                                if (historic.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                                                {
                                                                    <div class="agenda-activity @historic.EventType" onclick="SwitchActivity(@historic.ActivityId)">Historic Tour in @historic.Guide.LanguageName by @historic.Guide.GuideName</div>
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {

                                                    }

                                                }
                                            </td>
                                        </tr>
                                        StartTime = StartTime.AddMinutes(30);
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 agenda-right">
                        <h3>Activity information</h3>

                        <div class="activities" id="0">
                            <h4>Click on an activity for more information</h4>
                        </div>

                        @foreach (BesteldeActiviteit besteldeactiviteit in Model.Day1)
                        {
                            if (besteldeactiviteit.Activiteit.EventType == EventType.JazzPatronaat)
                            {
                                foreach (Jazz jazz in Model.Jazzs)
                                {
                                    if (jazz.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                    {
                                        <div class="activities" id="@besteldeactiviteit.Activiteit.ActivityId" hidden>
                                            
                                        </div>
                                        break;
                                    }
                                }
                            }

                            else if (besteldeactiviteit.Activiteit.EventType == EventType.DinnerInHaarlem)
                            {
                                foreach (Dinner Dinner in Model.Dinners)
                                {
                                    if (Dinner.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                    {
                                        <div class="activities" id="@Dinner.ActivityId" hidden>
                                            <img src="/images/Dinner/restaurants/@Dinner.Restaurant.LocationIMG" />
                                            <h4>@Dinner.Restaurant.Naam</h4>
                                            <table>
                                                <tr>
                                                    <td>Start-time:</td>
                                                    <td>@Dinner.StartSession.TimeOfDay.ToString(@"hh\:mm")</td>
                                                </tr>
                                                <tr>
                                                    <td>End-time:</td>
                                                    <td>@Dinner.EndSession.TimeOfDay.ToString(@"hh\:mm")</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact:</td>
                                                    <td>@Dinner.Phonenumber</td>
                                                </tr>
                                                <tr>
                                                    <td>Location:</td>
                                                    <td>@Dinner.Address</td>
                                                </tr>
                                            </table>
                                        </div>
                                        break;
                                    }
                                }
                            }
                            else if (besteldeactiviteit.Activiteit.EventType == EventType.TalkingHaarlem)
                            {
                                foreach (Talking talk in Model.Talks)
                                {
                                    if (talk.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                    {
                                        <div class="activities" id="@besteldeactiviteit.Activiteit.ActivityId" hidden>

                                        </div>
                                        break;
                                    }
                                }
                            }
                            else if (besteldeactiviteit.Activiteit.EventType == EventType.HistoricHaarlem)
                            {
                                foreach (Historic historic in Model.Historics)
                                {
                                    if (historic.ActivityId == besteldeactiviteit.Activiteit.ActivityId)
                                    {
                                        <div class="activities" id="@historic.ActivityId" hidden>
                                            <img src="/images/Historic/Locaties/3.jpg" />
                                            <h4>Historic Tour in @historic.Guide.LanguageName by @historic.Guide.GuideName</h4>
                                            <table>
                                                <tr>
                                                    <td>Start-time:</td>
                                                    <td>@historic.StartSession.TimeOfDay.ToString(@"hh\:mm")</td>
                                                </tr>
                                                <tr>
                                                    <td>End-time:</td>
                                                    <td>@historic.EndSession.TimeOfDay.ToString(@"hh\:mm")</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact:</td>
                                                    <td>@historic.Phonenumber</td>
                                                </tr>
                                                <tr>
                                                    <td>Location:</td>
                                                    <td>@historic.Address</td>
                                                </tr>
                                            </table>
                                        </div>
                                        break;
                                    }
                                }
                            }
                        }
                    </div>
                </div>

            </div>
            <div id="agenda-friday" class="tab-pane fade">
            </div>
            <div id="agenda-saturday" class="tab-pane fade">
            </div>
            <div id="agenda-sunday" class="tab-pane fade">
            </div>
        </div>
    </div>
</div>
</div>

