@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model List<Location>

@{
    ViewBag.Title = "Historic Haarlem";
}

<script type="text/javascript">
    function SwitchLocation(number)
    {
        var element = document.getElementById("location" + number);
        var otherElements = document.getElementsByClassName("locations");

        for (var i = 0; i < otherElements.length; i++)
        {
            otherElements[i].style.display = "none";
        }

        element.style.display = "block";
    }
</script>

<div class="event-banner historic"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Historic Haarlem</h1>
                <p class="content">
                    Welcome on the Historic Haarlem page, here you will find information about the historic tour through Haarlem. Here you will find information about: the locations, the available days and the available languages.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer1.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer2.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/sfeer3.jpg" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header historicLocations">
                <div class="overlay">
                    <span class="header_tekst">Locations</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Content -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#location-content">Locations</a></li>
            <li><a data-toggle="tab" href="#map-content">Map</a></li>
        </ul>

        <div class="tab-content">
            <div id="location-content" class="tab-pane fade in active">
                <div class="img-map-location">
                    <img src="/images/Historic/Locaties/moodboard.png" />
                </div>
                <div class="text-map-location">
                    <p>
                        In this tour you will walk through the history of Haarlem.
                        You will visit the most important historic locations of the city,
                        the guide will explain what the importance of the location is for the city.
                    </p>
                    </br>
                    <h3>About the tour</h3>
                    <p>
                        There are multiple tours per day, on the booking page you can pick preferred date and time.
                        The tour will take approximately 2,5 hours. During the tour there will be a 15 minute break with refreshments (one drink per person).
                        The tour will start at the 'Grote Markt', near the 'Church of St. Bavo'. The start location will be marked with a giant flag ‘Historic Haarlem, walking the ages’.
                    </p>
                    </br>
                    <h3>Venues to visit are:</h3>
                    <ol>
                        @foreach (Location location in Model)
                        {
                            <li>@location.LocationName</li>
                        }
                    </ol>
                </div>
            </div>

            <div id="map-content" class="tab-pane fade">
                <div class="img-map-location">
                    <img src="/images/Historic/Map/mapr.png" />
                    @{int y = 1; }
                    @foreach (Location location in Model)
                    {
                        string url = String.Format("{0}.png", y);
                        string className = String.Format("number{0}", y);

                        <img class="number-map @className" src="/images/Historic/Map/b.png" />
                        <img class="number-map @className" src="/images/Historic/Map/@url.ToString()" onclick="SwitchLocation(@y);" />

                        y++;
                    }
                </div>

                @{int i = 1; }
                @foreach (Location location in Model)
                {
                    string url = String.Format("{0}.jpg", i);
                    string id = String.Format("location{0}", i);

                    <div class="text-map-location locations" id=@id>
                        <div class="map-img">
                            <img src="/images/Historic/Locaties/@url.ToString()" />
                        </div>
                        <h3>@location.LocationName</h3>
                        <p>
                            @location.LocationDescription
                        </p>
                    </div>

                    i++;
                }
            </div>
            @Html.ActionLink("Book the tour", "Reservation", "Historic", new { @class = "btn btn-book" })
        </div>
    </div>
</div>

