@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model HistoricView

@{
    ViewBag.Title = "Historic Haarlem - Reservation";
}

@{
    if (Session["added_to_basket"] != null)
    {
        if ((bool)Session["added_to_basket"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Added!</h3> The item has been added to your basket.
                </div>
            </div>
        }

        Session["added_to_basket"] = false;
    }
}

<script type="text/javascript">
    function CalcPriceAndTicketCheck(nummer, availableTickets) {
        // Krijg de waardes van de input boxes
        var tickets = document.getElementById("ticket" + nummer).value;
        var grouptickets = document.getElementById("groupticket" + nummer).value;

        // De prijs ophalen uit het model en omzetten naar een JS format
        var price = parseFloat("@Model.Tours[0].Price".replace(",", "."));
        var groupprice = parseFloat("@Model.Tours[0].AlternativePrice".replace(",", "."));
        
        // Controleren of er niet te veel of te weinig tickets gekocht worden
        // Dit is het totaal van zowel de groepstickets als de normale tickets
        if (tickets < 0 || tickets > (availableTickets - (grouptickets * 4)) || grouptickets < 0 || grouptickets > Math.floor((availableTickets - tickets) / 4)) {
            if (tickets < 0 || grouptickets < 0) {
                $("#TicketAlert").modal();
                document.getElementById("text").innerHTML = ("<p>You inserted <b> " + tickets + " </b> tickets.</p><p>Please insert a number above 0.</p>");
            }
            else if (tickets > (availableTickets - (grouptickets * 4))) {
                $("#TicketAlert").modal();
                document.getElementById("text").innerHTML = ("<p>You inserted <b> " + (+tickets + (grouptickets * 4)) + " </b> tickets, but there are only <b>" + availableTickets + "</b> left.</p><p>Please insert <b>" + availableTickets + "</b> or lower.</p>");
            }
            else if (grouptickets > Math.floor((availableTickets - tickets) / 4)) {
                $("#TicketAlert").modal();
                document.getElementById("text").innerHTML = ("<p>You inserted <b> " + (+tickets + (grouptickets * 4)) + " </b> tickets, but there are only <b>" + Math.floor((availableTickets - tickets) / 4) + "</b> left.</p><p>Please insert <b>" + availableGroupTickets + "</b> or lower.</p>");
            }
            tickets = 0;
            grouptickets = 0;
            document.getElementById("ticket" + nummer).value = ("0");
            document.getElementById("groupticket" + nummer).value = ("0");
        }

        // Nieuwe totaal prijs berekenen
        var totalprice = ((tickets * price) + (grouptickets * groupprice));

        // De waarde in de totalprice kolom vervangen door de berekende waarde
        document.getElementById("totalprice" + nummer).innerHTML = ("€ " + (totalprice.toFixed(2)).replace(".", ","));
    }

    setTimeout(function () {
        $('.basket-alert').fadeOut();
    }, 15000);

</script>

<div class="event-banner historic"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1">
            <div class="col-md-6">
                <h1 class="title">Historic Haarlem - book a ticket</h1>
                <p class="content">
                    On this page you can make a reservation for a Historic Haarlem Tour. Pick a day and a time, and select the amount of ticktets you would like.
                </p>
            </div>

            <div class="col-md-6">
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map1.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map2.jpg" />
                </div>
                <div class="sfeer-image">
                    <img src="/images/Historic/sfeer/map3.jpg" />
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="event-section-2">
            <hr class="title-hr title-line-left">
            <div class="event-header historicTickets">
                <div class="overlay">
                    <span class="header_tekst">Get your tickets</span>
                </div>
            </div>
            <hr class="title-hr title-line-right">
        </div>

        <!-- Content -->

        <ul class="nav nav-tabs">
            @foreach (Day day in Model.Days)
            {
                if (day == Model.Days[0])
                {
                    <li class="active"><a data-toggle="tab" href="#Day-@day.DayId">@day.Naam</a></li>
                }
                else
                {
                    <li><a data-toggle="tab" href="#Day-@day.DayId">@day.Naam</a></li>
                }
            }
        </ul>

        @{ int i = 0;
            List<BesteldeActiviteit> activiteit = new List<BesteldeActiviteit>();
            string idtickets;
            string idgrouptickets;
            string totalprice;

            int availableTickets;
        }

        @using (Html.BeginForm("Book", "Historic", FormMethod.Post))
        {
            <div class="tab-content">
                @{
                    foreach (Day day in Model.Days)
                    {
                        string tabclass = "tab-pane fade historic-tickets";

                        if (day == Model.Days[0])
                        {
                            tabclass = "tab-pane fade in active historic-tickets";
                        }
                        <div id="Day-@day.DayId" class="@tabclass">
                            <div class="table table-hover table-responsive ticket-table">
                                <table>
                                    <tr>
                                        <th class="hidden">id</th>
                                        <th>Tickets</th>
                                        <th>Group ticket</th>
                                        <th>Available</th>
                                        <th>Language</th>
                                        <th>Guide</th>
                                        <th>Time</th>
                                        <th>Total price</th>
                                    </tr>

                                    @foreach (Historic tour in Model.Tours)
                                    {
                                        if (tour.Day == day)
                                        {
                                            Model.Reservering.Add(new BesteldeActiviteit());

                                            // De unieke id's aanmaken per rij
                                            idtickets = String.Format("ticket{0}", i);
                                            idgrouptickets = String.Format("groupticket{0}", i);
                                            totalprice = String.Format("totalprice{0}", i);

                                            availableTickets = tour.TotalTickets - tour.BoughtTickets;

                                            // De tabel aanmaken
                                            <tr>
                                                <td class="hidden"><input name="Reservering[@i].Activiteit.ActivityId" value="@tour.ActivityId" class="hidden" /></td>
                                                <td class="ticketsInput" onchange="CalcPriceAndTicketCheck(@i, @availableTickets);">@Html.TextBoxFor(m => Model.Reservering[i].Aantal, new { @type = "number", @min = 0, @id = idtickets })</td>
                                                <td class="ticketsInput" onchange="CalcPriceAndTicketCheck(@i, @availableTickets);">@Html.TextBoxFor(m => Model.Reservering[i].AantalAlternatief, new { @type = "number", @min = 0, @id = idgrouptickets })</td>
                                                <td>@availableTickets tickets</td>
                                                <td>@tour.Guide.LanguageName</td>
                                                <td>@tour.Guide.GuideName</td>
                                                <td>@tour.StartSession.TimeOfDay.ToString(@"hh\:mm")</td>
                                                <td><p id=@totalprice>€ -</p></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </table>

                                <br />
                                @foreach (Historic tour in Model.Tours)
                                {
                                    if (tour.Day == day)
                                    {
                                        <p>These are the available tours on @tour.Day.Naam</p>
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    }
                }

                <br /><br />
                <div class="historic extra-info">
                    <h3>Ticket information</h3>
                    <p>The group will consist of 12 participants and one guide. Participants must at least be 12 years old and must be able to walk the entire route (no strollers are allowed).</p>
                    @{ float? groupticket = (4f * Model.Tours[0].Price); }
                    <p>A tickets costs € @Model.Tours[0].Price per person, and a group ticket gets you 4 tickets for only € @Model.Tours[0].AlternativePrice instead of € @groupticket </p>
                    <br />
                </div>
            </div>

            <input type="submit" value="Book" class="btn btn-book btn-reservation" />
        }

    </div>
</div>

<!-- BOOTSTRAP MODALS VOOR BESCHIKBARE TICKETS EN NEGATIEVE AANTALLEN -->
<div class="modal fade" id="TicketAlert" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <div id="text"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
