@using HaarlemFestival.Models;
@using System.Collections.Generic;
@using  System.Data.Entity;
@model List<Dinner>
@{
    ViewBag.Title = "Info";
}

<div class="event-banner dinner"></div>

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1-dinner">
            <div class="col-md-6">
                <h1 class="title">@Model[0].Restaurant.Naam</h1>
                <table class="restaurant-info">
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Cuisines:</td>
                        <td class="restaurant-info-info">
                            @foreach (Cuisine c in Model[0].Restaurant.Cuisines)
                {
                    if (Model[0].Restaurant.Cuisines.Last() != c)
                    {
                        @c.Naam<span>,</span>
        }
        else
        {
            @c.Naam <br />
}
}
                        </td>
                    </tr>
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Rating:</td>
                        <td class="restaurant-info-info">@Model[0].Restaurant.Rating</td>
                    </tr>
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Price:</td>
                        <td class="restaurant-info-info">€@Model[0].Price.ToString() (or €@Model[0].AlternativePrice.ToString() for children under 12)</td>
                    </tr>
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Duration:</td>
                        <td class="restaurant-info-info">
                            @{ TimeSpan duration = Model[0].EndSession - Model[0].StartSession;}
                            @duration.ToString(@"h\:mm")
                        </td>
                    </tr>
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Start times:</td>
                        <td class="restaurant-info-info">
                            @foreach (Dinner d in Model)
                {
                    if (d.Day == Model[0].Day)
                    {
                        @d.StartSession.ToString("HH:mm")<span>,</span>
        }
    }
                        </td>
                    </tr>
                    <tr class="dinnertable">
                        <td class="restaurant-info-names">Description:</td>
                        <td class="restaurant-info-info">@Model[0].Restaurant.Description</td>
                    </tr>
                </table>
                <button class="restaurant-info-button-back" type="button" onclick="location.href='@Url.Action("Index", "Dinner")'">Back to overview</button>
                <button class="restaurant-info-button-reservation" type="button" onclick="location.href='@Url.Action("Reservation", "Dinner", new { id = Model[0].RestaurantId })'">Make reservation</button>
            </div>
            <div class="restaurant-info-img">
                <img src="/images/Dinner/restaurants/@Model[0].Restaurant.LocationIMG" alt="Picture not found" />
            </div>
        </div>
    </div>
</div>
</div>

