@using HaarlemFestival.Models;
@using System.Collections.Generic;
@using System.Data.Entity;
@model DinnerView
@{
    ViewBag.Title = "Reservation";
}

<script>
    function FilterData() {
        var date = document.getElementById('dinnerdatefilter').value;
        $('.dinnertimeselect').hide();
        $('#standard').show();
        document.getElementById("standard").selected = true;
        $(
            document.getElementsByClassName(date)).show();
    }
</script>

<div class="event-banner dinner"></div>
@{
    if (Session["added_to_basket"] != null)
    {
        if ((bool)Session["added_to_basket"])
        {
            <div class="basket-alert">
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h3>Added!</h3> The item has been added to your basket.
                </div>
            </div>
        }

        Session["added_to_basket"] = false;
    }
}

<div class="event container">
    <div class="row">
        <!-- Section 1 -->
        <div class="event-section-1-dinner">
            <div class="restaurant-reservation-img">
                <img src="/images/Dinner/restaurants/@Model.Dinners[0].Restaurant.LocationIMG" alt="Picture not found" />
            </div>
            <h1 class="restaurant-reservation-title">@Model.Dinners[0].Restaurant.Naam</h1>
            <p class="restaurant-reservation-intro">Order your tickets for @Model.Dinners[0].Restaurant.Naam below. The price for people over 12 years old is €@Model.Dinners[0].Price.ToString() and for childeren under 12 years it is €@Model.Dinners[0].AlternativePrice.ToString()</p>

            @{
                if (Session["sold_out"] != null)
                {
                    if ((bool)Session["sold_out"])
                    {
                            <div class="alert alert-danger alert-dismissable soldout-alert">
                                <a href="#" class="close" id="soldout-x" data-dismiss="alert" aria-label="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                <h3>Sold-out!</h3>
                                <p>
                                    Unfortunately the time you selected (@Model.BesteldeActiviteit.Activiteit.Day.Naam at @Model.BesteldeActiviteit.Activiteit.StartSession.ToString("HH:mm")-@Model.BesteldeActiviteit.Activiteit.EndSession.ToString("HH:mm")) does not have enough free seats.
                                </p>
                                <a href="#" class="close" id="soldout-button" data-dismiss="alert" aria-label="close">Close</a>
                            </div>
                    }
                    Model.BesteldeActiviteit.Activiteit = new Dinner();
                    Session["sold_out"] = false;
                }
            }
            @using (Html.BeginForm("AddReservation", "Dinner", new { id = Model.Dinners[0].Restaurant.RestaurantId }, FormMethod.Post, new { @class = "restaurant-reservation-form" }))
            {
                <div class="restaurant-reservation-tickets">
                    <label for="BesteldeActiviteit_Aantal">Tickets (&gt;12 Y/O)</label>
                    @Html.TextBoxFor(m => Model.BesteldeActiviteit.Aantal, new { @type = "number", @min = 0 })
                </div>

                <div class="restaurant-reservation-alternativetickets">
                    <label for="BesteldeActiviteit_AantalAlternatief">Tickets (&lt;12 Y/O)</label>
                    @Html.TextBoxFor(m => Model.BesteldeActiviteit.AantalAlternatief, new { @type = "number", @min = 0 })
                </div>

                <div class="restaurant-reservation-day">
                    <label for="dinnerdatefilter">Select your day</label>
                    @Html.DropDownList("Date", new SelectList(Model.Days, "", "Naam"), "Select a date", new { @id = "dinnerdatefilter", @onchange = "FilterData()", @required = "" })
                </div>

                <div class="restaurant-reservation-time">
                    <label for="dinnertimefilter">Select your starttime</label>
                    <select id="dinnertimefilter" name="Activity" required>
                        <option class="dinnertimeselect" value="">Select a date first</option>
                        <option class="dinnertimeselect" id="standard" value="" hidden>Select a time</option>
                        @foreach (Dinner dinner in Model.Dinners)
                        {
                            <option class="@dinner.Day.Naam dinnertimeselect" value="@dinner.ActivityId" hidden>@dinner.StartSession.ToString("HH:mm")</option>
                        }
                    </select>
                </div>

                <div class="restaurant-reservation-comment">
                    <label for="">Please tell us anything we might need to know (I.e. allergies)</label>
                    @Html.TextAreaFor(m => Model.BesteldeActiviteit.Opmerking)
                </div>

                <div class="restaurant-reservation-buttons">
                    <button class="restaurant-reservation-button-back" type="button" onclick="location.href='@Url.Action("Index", "Dinner")'">Back to overview</button>
                    <button class="restaurant-reservation-button-reservation" type="submit"> Add to basket</button>
                </div>
            }
        </div>
    </div>
</div>

