@using HaarlemFestival.Models;
@using System.Collections.Generic;
@using System.Globalization;
@model List<Talking>

@functions { string GetSuffix(DateTime dt)
    {
        if (new[] { 11, 12, 13 }.Contains(dt.Day))
        {
            return "th";
        }
        else if (dt.Day % 10 == 1)
        {
            return "st";
        }
        else if (dt.Day % 10 == 2)
        {
            return "nd";
        }
        else if (dt.Day % 10 == 3)
        {
            return "rd";
        }
        else
        {
            return "th";
        }
    }
}

@{
    ViewBag.Title = "Talking Haarlem";
}
<section class="event-banner talking"></section>

<main class="event container talking">
    <section class="row">
        <!-- Section 1 -->
        <section class="event-section-1">
            <section class="col-md-6">
                <h1 class="title">Talking Haarlem</h1>
                <p class="content">
                    Do you want to learn even more about Haarlem?
                    Talking Haarlem will present to you six Dutch people
                    who talk about their experience in Haarlem
                    and how that influenced their carreer and life.
                </p>
            </section>

            <section class="col-md-6">
                <section class="sfeer-image">
                    <img class="sfeer-image-resize" src="/images/Talking/giel_beelen_squared.jpg" />
                </section>
                <section class="sfeer-image">
                    <img class="sfeer-image-resize" src="/images/Talking/femke_halsema_squared.jpg" />
                </section>
                <section class="sfeer-image">
                    <img class="sfeer-image-resize" src="/images/Talking/paul_witteman_squared.jpg" />
                </section>
            </section>
        </section> <!-- Section 1 -->

        <!-- Section 2 -->
        <section class="event-section-2">
            <hr class="title-hr title-line-left">
            <section class="event-header talking-haarlem">
                <section class="overlay">
                    <span class="header_tekst">Talks & Information</span>
                </section>
            </section>
            <hr class="title-hr title-line-right">
        </section> <!-- Section 2 -->

        <!-- Section 3 -->
        <section class="talking-info">
            <h3>General information</h3>
            <p class="talking-place-time">
                Place & Time
                Toneelschuur & Filmschuur
                Lange Begijnestraat 9
                2011 HH Haarlem
                20:00 - 22:00
            </p>
            <p class="talking-important-info">
                These interviews will be held in the Dutch language.
                Reservation is mandatory.
                Price: Free
            </p>
        </section> <!-- Section 3 General Info -->

        <!-- Section 4 -->
        <section class="talks">
        @foreach (Talking talk in Model)
        {
            <article class="talk">
                <h4 class="talk-image-header">@talk.Talk.Person1</h4>

                <section>
                    <img class="talk-image" src="/images/Talking/@talk.Talk.Person1AltIMG" />
                </section>

                <h3 class="talk-header">@talk.Talk.Naam</h3>
                <p class="talk-description">
                    @talk.Talk.Person1 and @talk.Talk.Person2 interview each other.
                </p>

                <section class="talk-btns">
                    <a href="@Url.Action("Info", new { id = talk.TalkId })"><img class="talk-info-btn" src="/images/info_button.png" /></a>
                    @Html.ActionLink("Order Ticket", "Reservation", "Talking", new { @class = "btn btn-black talk-order-btn" })
                </section>
                <p class="talk-date">@talk.StartSession.DayOfWeek @String.Format(talk.StartSession.ToString("m", new CultureInfo("en-US"))+GetSuffix(talk.StartSession))</p> 
            </article>
        }
        </section> <!-- Section 4 Talks -->
    </section> <!-- row -->
</main>
