@using HaarlemFestival.Models;
@using System.Collections.Generic;
@model Talking

@{
    ViewBag.Title = "Talking Haarlem - Info";
}
<section class="event-banner talking"></section>

<main class="event container talking">
    <section class="row">
        <!-- Section 1 -->
        <section class="event-section-2">
            <hr class="title-hr title-line-left">
            <section class="event-header talking-haarlem">
                <section class="overlay">
                    <span class="header_tekst">Talks & Information</span>
                </section>
            </section>
            <hr class="title-hr title-line-right">
        </section> <!-- Section 1 -->

        <!-- Section 2 -->
        <section class="talk-activity-container">
            <section class="talk-activity">
                <h1>@Model.Talk.Naam</h1>
                <section class="talk-activity-info-section">
                    <p class="talk-activity-properties">
                        <span class="oneline">Place:</span>
                        <span class="oneline">Time:</span>
                        <span class="oneline">Date:</span>
                        <span class="oneline">Interview language:</span>
                        <span class="oneline">Reservation:</span>
                        <span class="oneline">Price:</span>
                        <span class="oneline">Description:</span>
                    </p>
                    <p class="talk-activity-info">
                        <span class="oneline">@Model.Address</span>
                        <span class="oneline">20:00 - 22:00</span>
                        <span class="oneline">Thursday July 26th, 2018</span>
                        <span class="oneline">Dutch</span>
                        <span class="oneline">Mandatory</span>
                        <span class="oneline">Free</span>
                        <span class="oneline">
                            @Model.Talk.Description
                        </span>
                    </p>
                </section> <!-- Activity Info -->
                <!-- Buttons -->
                <section class="talk-activity-btns">
                    @Html.ActionLink("Back to Talking Haarlem", "Index", "Talking", new { }, new { @class = "btn btn-black talk-back-btn" })

                    @Html.ActionLink("Order Ticket", "Reservation", "Talking", new { id = Model.TalkId }, new { @class = "btn btn-black talk-order-btn"})
                </section> <!-- Buttons -->
            </section> <!-- Talk Activity Block -->

            <!-- Images -->
            <section class="talk-images">
                <h4 class="talk-image-header">@Model.Talk.Person1</h4>
                <img class="talk-activity-image" src="/images/Talking/@Model.Talk.Person1IMG"/>
                <h4 class="talk-image-header">@Model.Talk.Person2</h4>
                <img class="talk-activity-image" src="/images/Talking/@Model.Talk.Person2IMG"/>
            </section> <!-- Images -->
        </section> <!-- Section 2 Activity -->
    </section> <!-- row -->
</main>
